@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&&family=Ubuntu&family=Lato&family=Roboto&family=Short+Stack&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  height: 100%;
  margin: 0px;
  scroll-behavior: smooth;
}

.navbar {
  background-color: #303030;
  width: 100%;
  height: 3.4rem;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.navbar ul {
  background-color: #303030;
  text-align: center;
  list-style-type: none;
}

.navbar li {
  display: inline-block;
  margin: 0 10px;
}

.navbar li a {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px 10px;
  padding: 10px 10px;
  border-bottom: 3px solid transparent;
}

.navbar li a:hover {
  color: #ffe41a;
  border-bottom: 3px solid #ffe41a;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
  .mobile-view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.color {
  color: #ffe41a;
}

.italic {
  font-style: italic;
}

.home {
  padding-top: 3.4rem;
  min-height: 100vh;
  height: auto;
  background-color: #1e1e1e;
  background-image: url(https://i.imgur.com/rumkPcr.jpg);
}

.home .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  height: auto;
}

.home .welcome h1 {
  margin-bottom: 3.5rem;
  font-family: "Prompt", sans-serif;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 5px 3px 5px #696969;
}

.home .welcome h1 .light {
  color: white;
  font-weight: 200;
}

.home .welcome h1 .bold {
  color: #ffff7d;
  font-weight: 500;
}

.home .welcome h1 .learn-more {
  padding: 0.8em 1.8em;
  border: 2px solid #ffe41a;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #ffe41a;
}

.home .welcome h1 .learn-more::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  background: #ffe41a;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.home .welcome h1 .learn-more:hover::before {
  width: 105%;
}

.home .welcome h1 .learn-more:hover {
  color: #111;
  cursor: pointer;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3.4rem;
  padding-bottom: 3.4rem;
  height: auto;
  max-width: 100vw;
  background-color: #1b1b1b;
}

.about img {
  margin: 5rem;
  width: 50%;
  text-align: center;
}

.about .bodytext {
  margin: 5rem;
  width: 60%;
}

.about .bodytext h1 {
  margin: auto;
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 5px 3px 5px #696969;
}

.about .bodytext h3 {
  margin: auto;
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
}

.about .bodytext p {
  margin-top: 2.5rem;
  margin-bottom: -0.5rem;
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  text-align: justify;
  text-justify: inter-word;
}

.members {
  margin-top: -1.5rem;
  padding-top: 3.4rem;
  margin-bottom: 8px;
  height: auto;
  background-color: #353535;
}

.members .wrapper {
  margin-top: 3%;
}

.members .wrapper h1 {
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 5px 3px 5px #696969;
  margin-bottom: 1em;
}

.members .wrapper .fc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.members .wrapper .fc .member {
  background-color: #fff;
  margin: 5em;
  margin-bottom: 3em;
  width: 30em;
  padding: 2em;
  line-height: 2em;
  position: relative;
}

.members .wrapper .fc .member h3 {
  color: #ffc55b;
  font-size: 2rem;
  margin-top: 3.5em;
}

.members .wrapper .fc .member .rank {
  color: black;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 1em 0;
}

.members .wrapper .fc .member .profilephoto {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  position: absolute;
  top: -6em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
}

.members .wrapper .fc .member .profilephoto img {
  width: 12em;
  height: 12em;
  margin-top: 1em;
  padding: 0.4em;
}

.gallery {
  margin-top: -56px;
  padding: 0;
  text-align: center;
  background-color: white;
}

.gallery h1 {
  padding: 1%;
  font-size: 5rem;
  font-family: "Prompt", sans-serif;
}

.gallery .container {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 10rem 30rem;
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.gallery .container .gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery .container .gallery-item .gallery-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery .container .gallery-item .gallery-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.gallery .container .gallery-item:hover .gallery-image img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.gallery .c-1 {
  grid-column: span 1;
}

.gallery .c-2 {
  grid-column: span 2;
}

.gallery .c-3 {
  grid-column: span 3;
}

.gallery .c-4 {
  grid-column: span 4;
}

.gallery .r-1 {
  grid-row: span 1;
}

.gallery .r-2 {
  grid-row: span 2;
}

.gallery .r-3 {
  grid-row: span 3;
}

.gallery .r-4 {
  grid-row: span 4;
}

@media only screen and (max-device-width: 600px) {
  .gallery .container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.discord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3.4rem;
  padding-bottom: 3.4rem;
  height: auto;
  max-width: 100vw;
  background-color: #6073bb;
}

.discord iframe {
  margin: 5rem;
  text-align: center;
  border-radius: 3%;
}

.discord .bodytext {
  margin: 5rem;
  width: 60%;
}

.discord .bodytext h1 {
  margin: auto;
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 5px 3px 5px #696969;
}

.discord .bodytext p {
  margin-top: 2.5rem;
  margin-bottom: -0.5rem;
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  text-align: justify;
  text-justify: inter-word;
}

.footer {
  margin-top: auto;
  padding: 2.5rem 0;
  background-color: #303030;
}

.footer .copyright {
  margin-top: 1rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  line-height: 0.5;
}
/*# sourceMappingURL=main.css.map */