@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&&family=Ubuntu&family=Lato&family=Roboto&family=Short+Stack&display=swap");
* {
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
    height: 100%;
    margin: 0px;
    scroll-behavior: smooth;
}

.navbar {
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 3.4rem;
    position: fixed;
    top: 0;
    z-index: 1;
    ul {
        background-color: rgb(48, 48, 48);
        text-align: center;
        list-style-type: none;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    li a {
        color: rgb(255, 255, 255);
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px 10px;
        padding: 10px 10px;
        border-bottom: 3px solid transparent;
    }
    li a:hover {
        color: rgb(255, 228, 26);
        border-bottom: 3px solid rgb(255, 228, 26);
    }
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.home {
    padding-top: 3.4rem;
    min-height: 100vh;
    height: auto;
    background-color: rgb(30, 30, 30);
    background-image: url(https://i.imgur.com/rumkPcr.jpg);
    .welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        height: auto;
        h1 {
            margin-bottom: 3rem;
            font-family: "Prompt", sans-serif;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 5px 3px 5px #696969;
            .light {
                color: white;
                font-weight: 200;
            }
            .bold {
                color: rgb(255, 255, 125);
                font-weight: 500;
            }
            .learn-more{
                padding: 0.8em 1.8em;
                border: 2px solid rgb(255, 228, 26);
                position: relative;
                overflow: hidden;
                background-color: rgba(255, 255, 255, 0.5);
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                transition: .3s;
                z-index: 1;
                font-family: inherit;
                color: rgb(255, 228, 26);
            }
            .learn-more::before{
                content: '';
                width: 0;
                height: 300%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                background: rgb(255, 228, 26);
                transition: .5s ease;
                display: block;
                z-index: -1;
            }
            .learn-more:hover::before{
                width: 105%;
            }
            .learn-more:hover {
                color: #111;
                cursor: pointer;
               }
        }
    }
}

.about {
    padding-top: 3.4rem;
    min-height: 100vh;
    height: auto;
    background-color: rgb(99, 99, 99);
    background-image: url(https://i.imgur.com/dyV8XGX.png);
    .bodytext {
        h1 {
            color: rgb(255, 255, 255);
            font-family: "Prompt", sans-serif;
            font-weight: 200;
            font-size: 3rem;
            text-align: right;
            text-transform: uppercase;
            text-shadow: 5px 3px 5px #696969;
            margin-right: 15%;
        }
        p {
            font-family: "Ubuntu", sans-serif;
            font-size: 1.5rem;
            text-align: right;
            padding-top: 5%;
            padding-left: 5%;
            padding-right: 65%;
            padding-bottom: 10%;
        }
    }
}

.members {
    margin-top: -1.5rem;
    padding-top: 3.4rem;
    margin-bottom: 8px;
    height: auto;
    background-color: rgb(255, 197, 91);
    .wrapper {
        margin-top: 3%;
        h1 {
            color: rgb(255, 255, 255);
            font-family: "Prompt", sans-serif;
            font-weight: 200;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 5px 3px 5px #696969;
            margin-bottom: 1em;
        }
        .fc {
            display: flex;
            font-family: "Lato", sans-serif;
            text-align: center;
            text-transform: uppercase;
            width: auto;
            justify-content: center;
            flex-wrap: wrap;
            .member {
                background-color: #fff;
                margin: 5em;
                margin-bottom: 3em;
                width: 30em;
                padding: 2em;
                line-height: 2em;
                position: relative;
                h3 {
                    color: rgb(255, 197, 91);
                    font-size: 2rem;
                    margin-top: 3.5em;
                }
                .rank {
                    color: rgb(0, 0, 0);
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    margin: 1em 0;
                }
                .profilephoto {
                    width: 15em;
                    height: 15em;
                    border-radius: 50%;
                    position: absolute;
                    top: -6em;
                    left: 50%;
                    transform: translateX(-50%);
                    background: rgb(255, 255, 255);
                    img {
                        width: 12em;
                        height: 12em;
                        margin-top: 1em;
                        padding: 0.4em;
                    }
                }
            }
        }
    }
}

.discord {
    text-align: center;
    position: relative;
    padding-top: 30px;
    margin-top: -8px;
    height: 100vh;
    background-color: rgb(252, 255, 60);
    h1 {
        padding: 2em;
        font-size: 3rem;
        font-weight: bold;
    }
}