@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&&family=Ubuntu&family=Lato&family=Roboto&family=Short+Stack&display=swap");
* {
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
    height: 100%;
    margin: 0px;
    scroll-behavior: smooth;
}

.navbar {
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 3.4rem;
    position: fixed;
    top: 0;
    z-index: 9999;
    ul {
        background-color: rgb(48, 48, 48);
        text-align: center;
        list-style-type: none;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    li a {
        color: rgb(255, 255, 255);
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px 10px;
        padding: 10px 10px;
        border-bottom: 3px solid transparent;
    }
    li a:hover {
        color: rgb(255, 228, 26);
        border-bottom: 3px solid rgb(255, 228, 26);
    }
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
.color {
    color:rgb(255, 228, 26);
}

.italic{
    font-style: italic;
}

.home {
    padding-top: 3.4rem;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    background-color: rgb(30, 30, 30);
    background-image: url(https://i.imgur.com/rumkPcr.jpg);
    .welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        height: auto;
        h1 {
            margin-bottom: 3.5rem;
            font-family: "Prompt", sans-serif;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 5px 3px 5px #696969;
            .light {
                color: white;
                font-weight: 200;
            }
            .bold {
                color: rgb(255, 255, 125);
                font-weight: 500;
            }
            .learn-more{
                padding: 0.8em 1.8em;
                border: 2px solid rgb(255, 228, 26);
                position: relative;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.5);
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                transition: .3s;
                z-index: 1;
                font-family: inherit;
                color: rgb(255, 228, 26);
            }
            .learn-more::before{
                content: '';
                width: 0;
                height: 300%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                background: rgb(255, 228, 26);
                transition: .5s ease;
                display: block;
                z-index: -1;
            }
            .learn-more:hover::before{
                width: 105%;
            }
            .learn-more:hover {
                color: #111;
                cursor: pointer;
               }
        }
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.4rem;
    padding-bottom: 3.4rem;
    height: auto;
    width: 100vw;
    background-color: rgb(27, 27, 27);
    img {
        margin: 5rem;
        height: 32rem;
    }
    .bodytext {
        margin: 5rem 0rem 5rem 5rem;
        width: 40%;
        h1 {
            margin: auto;
            color: rgb(255, 255, 255);
            font-family: "Prompt", sans-serif;
            font-weight: 200;
            font-size: 3rem;
            text-align: left;
            text-transform: uppercase;
            text-shadow: 5px 3px 5px #696969;
        }
        h3 {
            margin: auto;
            color: rgb(255, 255, 255);
            font-family: "Prompt", sans-serif;
            font-weight: 200;
            font-size: 1.5rem;
            text-align: left;
            text-transform: uppercase;
        }
        p {
            margin-top: 2.5rem;
            margin-bottom: -0.5rem;
            color: rgb(255, 255, 255);
            font-family: "Prompt", sans-serif;
            font-weight: 200;
            font-size: 1.3rem;
            text-align: justify;
            text-justify: inter-word;
        }
    }
}

.members {
    margin-top: -1.5rem;
    padding-top: 3.4rem;
    margin-bottom: 8px;
    height: auto;
    background-color: rgb(53, 53, 53);
    .wrapper {
        margin-top: 3%;
        h1 {
            color: rgb(255, 255, 255);
            font-family: "Prompt", sans-serif;
            font-weight: 200;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 5px 3px 5px #696969;
            margin-bottom: 1em;
        }
        .fc {
            display: flex;
            font-family: "Lato", sans-serif;
            text-align: center;
            text-transform: uppercase;
            width: auto;
            justify-content: center;
            flex-wrap: wrap;
            .member {
                background-color: #fff;
                margin: 5em;
                margin-bottom: 3em;
                width: 30em;
                padding: 2em;
                line-height: 2em;
                position: relative;
                h3 {
                    color: rgb(255, 197, 91);
                    font-size: 2rem;
                    margin-top: 3.5em;
                }
                .rank {
                    color: rgb(0, 0, 0);
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    margin: 1em 0;
                }
                .profilephoto {
                    width: 15em;
                    height: 15em;
                    border-radius: 50%;
                    position: absolute;
                    top: -6em;
                    left: 50%;
                    transform: translateX(-50%);
                    background: rgb(255, 255, 255);
                    img {
                        width: 12em;
                        height: 12em;
                        margin-top: 1em;
                        padding: 0.4em;
                    }
                }
            }
        }
    }
}
.gallery {
    margin-top: -56px;
    padding: 0;
    text-align: center;
    background-color: white;
    h1 {
        padding: 1%;
        font-size: 5rem;
        font-family: "Prompt", sans-serif;
    }
    .container {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 10rem 30rem;
        grid-gap: 1rem;
        grid-auto-flow: dense;
        .gallery-item {
            width: 100%;
            height: 100%;
            position: relative;
            .gallery-image {
                width: 100%;
                height: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                    cursor: pointer;
                    transition: 0.5s ease-in-out;
                }
            }
        }
        .gallery-item:hover .gallery-image img {
            transform: scale(1.5);
        }
    }
    .c-1 {
        grid-column: span 1;
    }
    .c-2 {
        grid-column: span 2;
    }
    .c-3 {
        grid-column: span 3;
    }
    .c-4 {
        grid-column: span 4;
    }
    .r-1 {
        grid-row: span 1;
    }
    .r-2 {
        grid-row: span 2;
    }
    .r-3 {
        grid-row: span 3;
    }
    .r-4 {
        grid-row: span 4;
    }
}

@media only screen and (max-width: 600px) {
    .gallery {
        .container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
.discord {
    text-align: center;
    position: relative;
    padding-top: 30px;
    margin-top: -8px;
    height: 100vh;
    background-color: rgb(252, 255, 60);
    h1 {
        padding: 2em;
        font-size: 3rem;
        font-weight: bold;
    }
}