@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&&family=Ubuntu&family=Lato&family=Roboto&family=Short+Stack&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
}

.navbar {
  background-color: #303030;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar ul {
  background-color: #303030;
  text-align: center;
  list-style-type: none;
  margin-top: 15px;
}

.navbar li {
  display: inline-block;
  margin: 0 10px;
}

.navbar li a {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px 10px;
  padding: 10px 10px;
  border-bottom: 3px solid transparent;
}

.navbar li a:hover {
  color: #ffe41a;
  border-bottom: 3px solid #ffe41a;
}

.home {
  padding-top: 30px;
  margin-top: -8px;
  margin-bottom: 8px;
  min-height: 100vh;
  height: 100vh;
  background-image: url(https://i.imgur.com/rumkPcr.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Prompt', sans-serif;
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 5px 3px 5px #696969;
}

.home h1 .light {
  color: white;
  font-weight: 200;
}

.home h1 .bold {
  color: #ffff7d;
  font-weight: 500;
}

.about {
  padding-top: 30px;
  margin-top: -8px;
  margin-bottom: 8px;
  min-height: 100vh;
  height: 100vh;
  background-color: #b3aead;
  background-image: url(https://i.imgur.com/dyV8XGX.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about .bodytext h1 {
  color: white;
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  font-size: 6em;
  text-align: right;
  text-transform: uppercase;
  text-shadow: 5px 3px 5px #696969;
  margin-top: 5%;
  margin-right: 15%;
}

.about .bodytext p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
  text-align: right;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 65%;
}

.members {
  display: block;
  background-color: #ffc55b;
  position: relative;
  padding-top: 30px;
  margin-top: -8px;
  margin-bottom: 8px;
  height: auto;
}

.members .wrapper {
  margin-top: 3%;
}

.members .wrapper h1 {
  color: white;
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 5px 3px 5px #696969;
  margin-bottom: 1em;
}

.members .wrapper .fc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.members .wrapper .fc .member {
  background-color: #fff;
  margin: 5em;
  margin-bottom: 3em;
  width: 30em;
  padding: 2em;
  line-height: 2em;
  position: relative;
}

.members .wrapper .fc .member h3 {
  color: #ffc55b;
  font-size: 2em;
  margin-top: 3.5em;
}

.members .wrapper .fc .member .rank {
  color: black;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 1em 0;
}

.members .wrapper .fc .member .profilephoto {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  position: absolute;
  top: -6em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
}

.members .wrapper .fc .member .profilephoto img {
  width: 12em;
  height: 12em;
  margin-top: 1em;
  padding: 0.4em;
}

.discord {
  text-align: center;
  font-size: 16px;
  position: relative;
  padding-top: 30px;
  margin-top: -8px;
  height: 100vh;
  background-color: #fcff3c;
}

.discord h1 {
  padding: 2em;
  font-size: 3em;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */